<% provide(:page_title, 'New Post') %>
<% provide(:author, 'active') %>
<h1>New Post</h1>

<%= render 'form', post: @post, url:authors_posts_url %>


<p class="text-muted">
	<%= link_to 'Back', authors_posts_path, class: 'btn btn-sm btn-info' %> If you want see the source of body, you have to click in <em>Tools</em> and <em>Source Code.</em>
</p>
